# Name: Match images

# Author: Ned Horning
# Version: 0.1
# Date: 2014/6/12
# Requires: ImageJ

Plugins>Photo Monitoring, "Create dual image list", List_Files
Plugins>Photo Monitoring, "Dual image index processing", Register_Images
Plugins>Photo Monitoring, "Single image index processing from directory", Create_NDVI_FromDir
Plugins>Photo Monitoring, "Single image index processing from displayed image", Create_NDVI_FromImage