# Name: Match images

# Author: Ned Horning
# Version: 0.0
# Date: 2012/6/18
# Requires: ImageJ

Plugins>Photo Monitoring, "Create dual image list", List_Files
Plugins>Photo Monitoring, "Dual image NDVI processing", Register_Images
Plugins>Photo Monitoring, "Single image NDVI from directory", Create_NDVI_FromDir
Plugins>Photo Monitoring, "Single image NDVI from displayed image", Create_NDVI_FromImage

